<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solarstrom Rechner</title>
  </head>

  <body>
    <h2>Angaben zur Photovoltaikanlage</h2>
    <form method="post" action=".">
        <p>Jährlicher Stromverbrauch:<br>
        <input name="strom" /></p>

        <p>Installierte Leistung Photovoltaikanlage:<br>
        <input name="pv" /></p>

        <p>Kapazität Batteriespeicher:<br>
        <input name="bat" /></p>

        <p>Stromkosten:<br>
        <input name="stromkosten" /></p>

        <p>Zinsen:<br>
        <input name="zins" /></p>

        <p>Laufzeit:<br>
        <input name="laufzeit" /></p>

        <p><input type="submit" value="Berechnen" /></p>
    </form>
  </body>
</html>